*{
	box-sizing:border-box;
  margin: 0;
  padding: 0;
}
body {
    display: block;
    margin: 50px;
}
div{
  display: block;
}
h1{
	text-align:center;
	margin: 20px 0;
}
.box{
  
  position: relative;
  


}
p{
  border: 1px solid black;
  background-color: grey;
  height: 135px;
  margin: 10px;
 
  
  
}
p{
  display: block; 
  margin-block-start:1em;
  margin-block-end:1em;
  margin-inline-end:0px;
  margin-inline-start:0px;

}

.phead{
  border: 1px solid black;
  text-align: center;
  width: 70px;
  height: 25px;
  font-weight: bold;
  position:absolute;
  top: 0px;
  right: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.pbody{
  padding: 25px 10px 5px 10px;

  font-family: Arial, Helvetica, sans-serif;

}

#chicken{
	background-color: pink;
	

}
#beef{
	background-color: red;
	color: white;
	
	
}
#sushi{
	background-color: yellow;
	
}
.row {
  width: 100%;
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
 }
 #one{
  width: 32%;
  margin-right: 1%;
 }
 #two{
  width: 32%;
  margin-right: 1%;
  margin-left: 1%; 
 }
 #tree{
  width: 32%; 
  margin-left: 1%;
 }
  
  
 
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199.90px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  #tree{
    width: 100%;
  }
  #one{
    margin-right: 1%;
    width: 49%;
  }
  #two{
    width: 49%;
    margin-left: 1%; 
  }
  
  
}
@media (max-width: 991px){
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    
  }
  
  .col-sm-12 {
    width: 100%;
  }
}
